[Unit]
Description=Node Exporter
Wants=network-online.target

[Service]
Type=simple
User=node_exporter
Group=node_exporter
RestartSec=30
StartLimitIntervalSec=15
StartLimitBurst=1
ExecStart=/usr/local/bin/node_exporter \
  --web.listen-address=0.0.0.0:9100 \
  --web.telemetry-path="/metrics"

Restart=always

[Install]
WantedBy=multi-user.target
